{% extends 'layouts/base-presentation.html' %} 

{% block title %} API CHECK {%endblock title %}

{% block stylesheets %}{% endblock stylesheets %} 

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
<div style="background-image: url(../../static/assets/img/top_image_api_check.b693d57046861e9c49e9.webp); height: auto;"
class="py-3 px-3 my-5 mx-5">
<div class="card  my-3 mx-3" style="width : 250px">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">API Check</h5>
        <p class="card-text fs-6 text-center">Check new and existing customers fully automated with our REST API
            in an
            instant.
        </p>
        <a href="#" class="btn btn-primary ">Go somewhere</a>
    </div>
</div>
</div>
<div class="my-5">
<div class="d-flex justify-content-center ">
    <h2 class="text-center">Automate your sanction and AML processes with our API solution
    </h2>
</div>
<div class="d-flex flex-row my-4">
    <div class="w-50">
        <p class="text-start fs-6 mx-5 fw-lighter">
            Companies are more and more under scrutiny to adhere to sanction regulations, identify Anti-Money
            Laundering (AML) and prevent Counter Terrorist Financing (CTF). Screenings are expected to happen at
            mutiple occassions during the customer life-cycle to not only Know Your Customer (KYC) once, but at
            any business relevant point in time. Starting from the customer onboarding, continuing for every
            financial transaction and then again at predefined cadences. The costs for screening and handling of
            false positives increase the cost base of a company while resulting in an ever thinner margin.
        </p>
    </div>
    <div class="w-50">
        <p class="text-start fs-6 fw-lighter">
            dilisense enables businesses to comply with regulatory requirements while keeping costs under
            control.Our API check product covers <br>
        </p>
        <ul class="fw-lighter">
            <li>
                Worldwide sanctions <br>

            </li>
            <li>
                International and national PEPs <br>

            </li>
            <li>
                Global and regional criminals <br>

            </li>
        </ul>
        <p class="fs-6 fw-lighter">
            as well as selected Enforcement Actions. Start using our API Check Service today and become a member
            of
            our global community.
        </p>
    </div>
</div>
</div>
<hr class="mx-3">
<div>
<div class="d-flex justify-content-center">
    <h2 class="text-center">Plans and Pricing </h2>
</div>
<div class="my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        API STARTER <br>
                        <div class="fw-lighter fs-6">Small volumes</div>
                    </h5>
                    <hr>
                    <h5 class="card-title text-center">
                        0.10€/API call
                        <br>
                        <div class="fw-lighter fs-6">No monthly fee (100 API calls free)</div>
                    </h5>
                    <p class="card-text">
                    <div class="alert alert-success d-flex align-items-center" role="alert"
                        style="height: 200px;">
                        <div>
                            <ul class="d-flex flex-column justify-content-evenly">
                                <li>All sanction, PEP and criminal data included</li>
                                <li>

                                    Support available</li>
                                <li>
                                    Simple pay-per-use model

                                </li>
                                <li>
                                    No set-up or hidden fees

                                </li>
                                <li>
                                    Cancel anytime

                                </li>
                            </ul>
                        </div>
                    </div>
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        API STARTER <br>
                        <div class="fw-lighter fs-6">Small volumes</div>
                    </h5>
                    <hr>
                    <h5 class="card-title text-center">
                        0.10€/API call <br>
                        <div class="fw-lighter fs-6">No monthly fee (100 API calls free)</div>
                    </h5>
                    <p class="card-text">
                    <div class="alert alert-success d-flex align-items-center" role="alert"
                        style="height: 200px;">
                        <div>
                            <ul class="d-flex flex-column justify-content-evenly">
                                <li>All sanction, PEP and criminal data included</li>
                                <li>

                                    Support available</li>
                                <li>
                                    Simple pay-per-use model

                                </li>
                                <li>
                                    No set-up or hidden fees

                                </li>
                                <li>
                                    Cancel anytime

                                </li>
                            </ul>
                        </div>
                    </div>
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        API STARTER <br>
                        <div class="fw-lighter fs-6">Small volumes</div>
                    </h5>
                    <hr>
                    <h5 class="card-title text-center">
                        0.10€/API call <br>
                        <div class="fw-lighter fs-6">No monthly fee (100 API calls free)</div>
                    </h5>
                    <p class="card-text">
                    <div class="alert alert-success d-flex align-items-center" role="alert"
                        style="height: 200px;">
                        <div>
                            <ul class="d-flex flex-column justify-content-evenly">
                                <li>All sanction, PEP and criminal data included</li>
                                <li>

                                    Support available</li>
                                <li>
                                    Simple pay-per-use model

                                </li>
                                <li>
                                    No set-up or hidden fees

                                </li>
                                <li>
                                    Cancel anytime

                                </li>
                            </ul>
                        </div>
                    </div>
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        0.10€/API call <br>
                        <div class="fw-lighter fs-6">Small volumes</div>
                    </h5>
                    <hr>
                    <h5 class="card-title text-center">
                        API STARTER <br>
                        <div class="fw-lighter fs-6">No monthly fee (100 API calls free)</div>
                    </h5>
                    <p class="card-text">
                    <div class="alert alert-success d-flex align-items-center" role="alert"
                        style="height: 200px;">
                        <div>
                            <ul class="d-flex flex-column justify-content-evenly">
                                <li>All sanction, PEP and criminal data included</li>
                                <li>

                                    Support available</li>
                                <li>
                                    Simple pay-per-use model

                                </li>
                                <li>
                                    No set-up or hidden fees

                                </li>
                                <li>
                                    Cancel anytime

                                </li>
                            </ul>
                        </div>
                    </div>
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                        <a href="#" class="btn btn-primary mx-2">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr class="my-3 mx-3">
<div class="d-flex flex-column align-items-center my-4">
<div class="card mb-3 w-90 mx-3 " style="height: 300px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 w-90 mx-3 " style="height: 300px;">
    <div class=" row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>
<div class="card mb-3 w-90 mx-3" style="height: 300px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/plugins/countup.min.js"></script>
<script src="/static/assets/js/plugins/choices.min.js"></script>
<script src="/static/assets/js/plugins/rellax.min.js"></script>
<script src="/static/assets/js/plugins/tilt.min.js"></script>
<script src="/static/assets/js/plugins/choices.min.js"></script>
{% endblock javascripts %}
