{% extends 'layouts/base-presentation.html' %} {% block title %} Edit PEP
{%endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{% endblock stylesheets %} {% block body_class %}index-page {% endblock
body_class %} {% block content %}
<style>
  .form-required:after {
    content: "*";
    color: red;
  }
</style>
<header class="header-2">
  <section class="my-5 py-5">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-12 shadow-sm mx-auto d-flex justify-content-center flex-column">
          <h3 class="text-center mb-5">Add a person to DB</h3>
          <h5 class="text-info">General Informations</h5>
          <form id="primary-form" class="needs-validation">
            <div id="main-form">
              <div class="row mb-5">
                <div class="col-4">
                  <label class="form-label form-required">Person Type</label>
                  <select class="form-control" name="person_type" type="text" required>
                    <option value="PERSON">PERSON</option>
                    <option value="ENTITY">ENTITY</option>
                  </select>
                </div>
                <div class="col-4">
                  <label class="form-label">Category</label>
                  <input class="form-control" name="category" type="text" id="categoryInput">
                </div>
                <div class="col-4">
                  <label class="form-label form-required">Gender</label>
                  <select class="form-control" name="gender" required>
                    <option value="Unkown">Unkown</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="col-4">
                  <label class="form-label w-100 h-50" for="uploader">
                    Photo
                    <p class="mb-3"></p>
                    <div class="d-flex">
                      <div id="photo-box" class="d-none">
                        <img height="50px" src="http://localhost:5000/images/chawki.png" alt="">
                      </div>
                      <div style="height: 50px;"
                        class="ms-1 rounded-1 border w-100 d-flex justify-content-center align-items-center">
                        <div>
                          Click Here to select image
                        </div>
                      </div>
                    </div>
                  </label>
                  <input class="form-control" name="image_url" type="text" hidden>
                </div>
                <div class="col-4">
                  <label class="form-label">Birthdate</label>
                  <input class="form-control" name="birth_date" type="date">
                </div>
                <div class="col-4">
                  <label class="form-label">Birthplace</label>
                  <input class="form-control" name="birth_place" type="text">
                </div>
                <div class="col-4">
                  <label for="form-label">Type</label>
                  <select class="form-control" name="sanction_list_type">
                    <option value="PEP">PEP</option>
                    <option value="SANCTIONNED">SANCTIONED</option>
                  </select>
                </div>
                <div class="col-4">
                  <label class="form-label">Description</label>
                  <textarea class="form-control" name="description" cols="30" rows="1"></textarea>
                </div>
                <div class="col-4 d-flex justify-content-center flex-column">
                  <div class="d-flex justify-content-center form-switch">
                    <input class="form-check-input" name="deceased" type="checkbox" role="switch"
                      id="flexSwitchCheckDeceased">
                    <label class="form-check-label" for="flexSwitchCheckDeceased">Deceased</label>
                  </div>
                </div>
                <div class="col-4">
                  <label class="form-required form-label">Country</label>
                  <input class="form-control" name="country_code" id="countryInput" type="text" required>
                </div>
                <div class="col-4">
                  <label class="form-label form-required" for="links">Links</label>
                  <input class="form-control" name="source_name" value="" type="text" id="links" required />
                </div>
                <div class="col-4">
                  <label class="form-label">Profile Notes</label>
                  <input class="form-control" type="text" name="profile_notes" />
                </div>
                <div class="col-4">
                  <label class="form-label">Action</label>
                  <input class="form-control" type="text" name="action" />
                </div>
                <div class="col-4">
                  <label class="form-label">Active Status</label>
                  <input class="form-control" type="text" name="active_status" />
                </div>
                <div class="col-4">
                  <label class="form-label">Keywords</label>
                  <input class="form-control" name="keyword" value="" type="text" id="keywords">
                </div>
              </div>
            </div>
            <div id="names-container" class="row mb-5">
              <div class="d-flex justify-content-between">
                <h5 class="text-info">Names</h5>
                <button class="btn btn-warning btn-add">Add</button>
              </div>
            </div>
            <div id="adresses-container" class="row mb-5">
              <div class="d-flex justify-content-between">
                <h5 class="text-info">Adresses</h5>
                <button class="btn btn-warning btn-add">Add</button>
              </div>
            </div>
            <div id="sanctions-container" class="row mb-5">
              <div class="d-flex justify-content-between">
                <h5 class="text-info">Sanctions</h5>
                <button class="btn btn-warning btn-add">Add</button>
              </div>
            </div>
            <div id="identities-container" class="row mb-5">
              <div class="d-flex justify-content-between">
                <h5 class="text-info">Identities</h5>
                <button class="btn btn-warning btn-add">Add</button>
              </div>
            </div>
            <div id="person-roles-container" class="row mb-5">
              <div class="d-flex justify-content-between">
                <h5 class="text-info">Person Roles</h5>
                <button class="btn btn-warning btn-add">Add</button>
              </div>
            </div>
            <input id="uploader" class="form-control" name="photo" placeholder="Photo" type="file" max="1" hidden>
            <div class="row mb-5">
              <div class="text-center">
                <button id="btn-submit" type="submit" class="btn bg-gradient-secondary me-2"> Create PEP </button>
                <div id="msg-container" class="text-center"></div>
                <a href="/add-xg4MOkc88x" class="btn btn-primary"> reset </a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Form Templates -->
  <template id="name-form">
    <div class="mb-3 name-form form-group">
      <div class="border p-3">
        <div class="d-flex justify-content-end">
          <button type="button" id="btn-dele" class="btn btn-danger btn-delete rounded-circle px-2 py-1"><i
              class="bi bi-x-circle fs-3"></i></button>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label form-required">First Name</label>
            <input class="form-control" type="text" name="first_name" required>
          </div>
          <div class="col-4">
            <label class="form-label form-required">Last Name</label>
            <input class="form-control" type="text" name="last_name" required>
          </div>
          <div class="col-4">
            <label class="form-label form-required">Whole Name</label>
            <input class="form-control" type="text" name="whole_name" required>
          </div>
          <div class="col-4">
            <label class="form-label">Name Type</label>
            <select class="form-control" name="name_type">
              <option value="Primary">Primary</option>
              <option value="Secondary">Secondary</option>
            </select>
          </div>
          <div class="col-4">
            <label class="form-label">Middle Name</label>
            <input class="form-control" type="text" name="middle_name">
          </div>
          <div class="col-4">
            <label class="form-label">Original Script Name</label>
            <input class="form-control" type="text" name="original_script_name">
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="adress-form">
    <form class="mb-3 adress-form form-group">
      <div class="border p-3">
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger btn-delete rounded-circle px-2 py-1"><i
              class="bi bi-x-circle fs-3"></i></button>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label">City</label>
            <input class="form-control" type="text" name="city">
          </div>
          <div class="col-4">
            <label class="form-label">Country </label>
            <input class="form-control" type="text" name="country">
          </div>
          <div class="col-4">
            <label class="form-label">Number</label>
            <input class="form-control" type="text" name="number">
          </div>
          <div class="col-4">
            <label class="form-label">State</label>
            <input class="form-control" type="text" name="state">
          </div>
          <div class="col-4">
            <label class="form-label">Street</label>
            <input class="form-control" type="text" name="street">
          </div>
          <div class="col-4">
            <label class="form-label">Zipcode </label>
            <input class="form-control" type="text" name="zip_code">
          </div>
          <div class="col-12">
            <label class="form-label">Other </label>
            <input class="form-control" type="text" name="other" required>
          </div>
        </div>
      </div>
    </form>
  </template>

  <template id="sanction-form">
    <form class="mb-3 sanction-form form-group">
      <div class="border p-3">
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger btn-delete rounded-circle px-2 py-1"><i
              class="bi bi-x-circle fs-3"></i></button>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label">Sanction Name</label>
            <input list="sanctionSamples" class="form-control" type="text" name="sanction_name">
            <datalist id="sanctionSamples">
              <option value="Infraction Terroriste"></option>
            </datalist>
          </div>
          <div class="col-4">
            <label class="form-label">Sanction Description</label>
            <input class="form-control" type="text" name="sanction_description">
          </div>
          <div class="col-4">
            <label class="form-label">Sanction Begin Date</label>
            <input class="form-control" type="date" name="sanction_begin_date">
          </div>
        </div>
      </div>

    </form>
  </template>

  <template id="identity-form">
    <div class="mb-3 identity-form form-group">
      <div class="border p-3">
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger btn-delete rounded-circle px-2 py-1"><i
              class="bi bi-x-circle fs-3"></i></button>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label form-required">Identification Type</label>
            <input list="IdentitiesList" class="form-control" type="text" name="identification_type" required>
            <datalist id="IdentitiesList">
              <option value="ID CARD">
              <option value="PASSPORT">
              <option value="Matricule Fiscale">
            </datalist>
          </div>
          <div class="col-6">
            <label class="form-label form-required">Identification Value</label>
            <input class="form-control" type="text" name="identification_value" required>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="person-role-form">
    <div class="mb-3 person-role-form form-group">
      <div class="border p-3">
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger btn-delete rounded-circle px-2 py-1"><i
              class="bi bi-x-circle fs-3"></i></button>
        </div>
        <div class="row">
          <div class="col-6">
            <label class="form-label form-required">Occupation Title</label>
            <input class="form-control" type="text" name="occupation_title" required>
          </div>
          <div class="col-6">
            <label class="form-label form-required">Role Type</label>
            <input class="form-control" type="text" name="role_type">
          </div>
          <div class="col-6">
            <label class="form-label">Occupation Begin Date</label>
            <input class="form-control" type="date" name="occupation_begin_date">
          </div>
          <div class="col-6">
            <label class="form-label">Occupation End Date</label>
            <input class="form-control" type="date" name="occupation_end_date">
          </div>
        </div>
      </div>
    </div>
  </template>

  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}

  <!-- jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script src="/static/assets/js/callbacks.js" type="module"></script>
  <script>
    const CATEGORIES = [
      "CRIME - FINANCIAL",
      "LEGAL",
      "CRIME - OTHER",
      "TRADE UNION",
      "WEBSITE",
      "CRIME - WAR",
      "VESSEL",
      "CRIME - TERROR",
      "CRIME - ORGANIZED",
      "RELIGION",
      "DIPLOMAT",
      "POLITICAL INDIVIDUAL",
      "EMBARGO",
      "INDIVIDUAL",
      "CRIME - NARCOTICS",
      "ORGANISATION",
      "BANK",
      "POLITICAL PARTY",
      "MILITARY",
      "CORPORATE",
      "NONCONVICTION TERROR",
      "EMBARGO VESSEL"
    ]

    const COUNTRY_CODES = [
      { "country": "Afghanistan", "code": "AF" },
      { "country": "Albania", "code": "AL" },
      { "country": "Algeria", "code": "DZ" },
      { "country": "American Samoa", "code": "AS" },
      { "country": "Andorra, Principality of", "code": "AD" },
      { "country": "Angola", "code": "AO" },
      { "country": "Anguilla", "code": "AI" },
      { "country": "Antarctica", "code": "AQ" },
      { "country": "Antigua and Barbuda", "code": "AG" },
      { "country": "Argentina", "code": "AR" },
      { "country": "Armenia", "code": "AM" },
      { "country": "Aruba", "code": "AW" },
      { "country": "Australia", "code": "AU" },
      { "country": "Austria", "code": "AT" },
      { "country": "Azerbaijan or Azerbaidjan (Former Azerbaijan Soviet Socialist Republic)", "code": "AZ" },
      { "country": "Bahamas, Commonwealth of The", "code": "BS" },
      { "country": "Bahrain, Kingdom of (Former Dilmun)", "code": "BH" },
      { "country": "Bangladesh (Former East Pakistan)", "code": "BD" },
      { "country": "Barbados", "code": "BB" },
      { "country": "Belarus (Former Belorussian [Byelorussian] Soviet Socialist Republic)", "code": "BY" },
      { "country": "Belgium", "code": "BE" },
      { "country": "Belize (Former British Honduras)", "code": "BZ" },
      { "country": "Benin (Former Dahomey)", "code": "BJ" },
      { "country": "Bermuda", "code": "BM" },
      { "country": "Bhutan, Kingdom of", "code": "BT" },
      { "country": "Bolivia", "code": "BO" },
      { "country": "Bosnia and Herzegovina", "code": "BA" },
      { "country": "Botswana (Former Bechuanaland)", "code": "BW" },
      { "country": "Bouvet Island (Territory of Norway)", "code": "BV" },
      { "country": "Brazil", "code": "BR" },
      { "country": "British Indian Ocean Territory (BIOT)", "code": "IO" },
      { "country": "Brunei (Negara Brunei Darussalam)", "code": "BN" },
      { "country": "Bulgaria", "code": "BG" },
      { "country": "Burkina Faso (Former Upper Volta)", "code": "BF" },
      { "country": "Burundi (Former Urundi)", "code": "BI" },
      { "country": "Cambodia, Kingdom of (Former Khmer Republic, Kampuchea Republic)", "code": "KH" },
      { "country": "Cameroon (Former French Cameroon)", "code": "CM" },
      { "country": "Canada", "code": "CA" },
      { "country": "Cape Verde", "code": "CV" },
      { "country": "Cayman Islands", "code": "KY" },
      { "country": "Central African Republic", "code": "CF" },
      { "country": "Chad", "code": "TD" },
      { "country": "Chile", "code": "CL" },
      { "country": "China", "code": "CN" },
      { "country": "Christmas Island", "code": "CX" },
      { "country": "Cocos (Keeling) Islands", "code": "CC" },
      { "country": "Colombia", "code": "CO" },
      { "country": "Comoros, Union of the", "code": "KM" },
      { "country": "Congo, Democratic Republic of the (Former Zaire)", "code": "CD" },
      { "country": "Congo, Republic of the", "code": "CG" },
      { "country": "Cook Islands (Former Harvey Islands)", "code": "CK" },
      { "country": "Costa Rica", "code": "CR" },
      { "country": "Cote D'Ivoire (Former Ivory Coast)", "code": "CI" },
      { "country": "Croatia (Hrvatska)", "code": "HR" },
      { "country": "Cuba", "code": "CU" },
      { "country": "Cyprus", "code": "CY" },
      { "country": "Czech Republic", "code": "CZ" },
      { "country": "Czechoslavakia (Former) See CZ Czech Republic or Slovakia", "code": "CZ/SK" },
      { "country": "Denmark", "code": "DK" },
      { "country": "Djibouti (Former French Territory of the Afars and Issas, French Somaliland)", "code": "DJ" },
      { "country": "Dominica", "code": "DM" },
      { "country": "Dominican Republic", "code": "DO" },
      { "country": "East Timor (Former Portuguese Timor)", "code": "TL" },
      { "country": "Ecuador", "code": "EC" },
      { "country": "Egypt (Former United Arab Republic - with Syria)", "code": "EG" },
      { "country": "El Salvador", "code": "SV" },
      { "country": "Equatorial Guinea (Former Spanish Guinea)", "code": "GQ" },
      { "country": "Eritrea (Former Eritrea Autonomous Region in Ethiopia)", "code": "ER" },
      { "country": "Estonia (Former Estonian Soviet Socialist Republic)", "code": "EE" },
      { "country": "Ethiopia (Former Abyssinia, Italian East Africa)", "code": "ET" },
      { "country": "Falkland Islands (Islas Malvinas)", "code": "FK" },
      { "country": "Faroe Islands", "code": "FO" },
      { "country": "Fiji", "code": "FJ" },
      { "country": "Finland", "code": "FI" },
      { "country": "France", "code": "FR" },
      { "country": "French Guiana or French Guyana", "code": "GF" },
      { "country": "French Polynesia (Former French Colony of Oceania)", "code": "PF" },
      { "country": "French Southern Territories and Antarctic Lands", "code": "TF" },
      { "country": "Gabon (Gabonese Republic)", "code": "GA" },
      { "country": "Gambia, The", "code": "GM" },
      { "country": "Georgia (Former Georgian Soviet Socialist Republic)", "code": "GE" },
      { "country": "Germany", "code": "DE" },
      { "country": "Ghana (Former Gold Coast)", "code": "GH" },
      { "country": "Gibraltar", "code": "GI" },
      { "country": "Great Britain (United Kingdom)", "code": "GB" },
      { "country": "Greece", "code": "GR" },
      { "country": "Greenland", "code": "GL" },
      { "country": "Grenada", "code": "GD" },
      { "country": "Guadeloupe", "code": "GP" },
      { "country": "Guam", "code": "GU" },
      { "country": "Guatemala", "code": "GT" },
      { "country": "Guinea (Former French Guinea)", "code": "GN" },
      { "country": "Guinea-Bissau (Former Portuguese Guinea)", "code": "GW" },
      { "country": "Guyana (Former British Guiana)", "code": "GY" },
      { "country": "Haiti", "code": "HT" },
      { "country": "Heard Island and McDonald Islands (Territory of Australia)", "code": "HM" },
      { "country": "Holy See (Vatican City State)", "code": "VA" },
      { "country": "Honduras", "code": "HN" },
      { "country": "Hong Kong", "code": "HK" },
      { "country": "Hungary", "code": "HU" },
      { "country": "Iceland", "code": "IS" },
      { "country": "India", "code": "IN" },
      { "country": "Indonesia (Former Netherlands East Indies; Dutch East Indies)", "code": "ID" },
      { "country": "Iran, Islamic Republic of", "code": "IR" },
      { "country": "Iraq", "code": "IQ" },
      { "country": "Ireland", "code": "IE" },
      { "country": "Israel", "code": "IL" },
      { "country": "Italy", "code": "IT" },
      { "country": "Jamaica", "code": "JM" },
      { "country": "Japan", "code": "JP" },
      { "country": "Jordan (Former Transjordan)", "code": "JO" },
      { "country": "Kazakstan or Kazakhstan (Former Kazakh Soviet Socialist Republic)", "code": "KZ" },
      { "country": "Kenya (Former British East Africa)", "code": "KE" },
      { "country": "Kiribati (Pronounced keer-ree-bahss) (Former Gilbert Islands)", "code": "KI" },
      { "country": "Korea, Democratic People's Republic of(North Korea)", "code": "KP" },
      { "country": "Korea, Republic of (South Korea)", "code": "KR" },
      { "country": "Kuwait", "code": "KW" },
      { "country": "Kyrgyzstan (Kyrgyz Republic) (Former Kirghiz Soviet Socialist Republic)", "code": "KG" },
      { "country": "Laos (Lao People's Democratic Republic)", "code": "LA" },
      { "country": "Latvia (Former Latvian Soviet Socialist Republic)", "code": "LV" },
      { "country": "Lebanon", "code": "LB" },
      { "country": "Lesotho (Former Basutoland)", "code": "LS" },
      { "country": "Liberia", "code": "LR" },
      { "country": "Libyan Arab Jamahiriya (Libya)", "code": "LY" },
      { "country": "Liechtenstein", "code": "LI" },
      { "country": "Lithuania (Former Lithuanian Soviet Socialist Republic)", "code": "LT" },
      { "country": "Luxembourg", "code": "LU" },
      { "country": "Macao", "code": "MO" },
      { "country": "Macedonia, Former Yugoslav Republic of", "code": "MK" },
      { "country": "Madagascar, Republic of (Malagasy Republic)", "code": "MG" },
      { "country": "Malawi", "code": "MW" },
      { "country": "Malaysia", "code": "MY" },
      { "country": "Maldives", "code": "MV" },
      { "country": "Mali", "code": "ML" },
      { "country": "Malta", "code": "MT" },
      { "country": "Marshall Islands", "code": "MH" },
      { "country": "Martinique", "code": "MQ" },
      { "country": "Mauritania", "code": "MR" },
      { "country": "Mauritius", "code": "MU" },
      { "country": "Mayotte", "code": "YT" },
      { "country": "Mexico", "code": "MX" },
      { "country": "Micronesia, Federated States of", "code": "FM" },
      { "country": "Moldova (Former Moldavian Soviet Socialist Republic)", "code": "MD" },
      { "country": "Monaco", "code": "MC" },
      { "country": "Mongolia", "code": "MN" },
      { "country": "Montenegro", "code": "ME" },
      { "country": "Montserrat", "code": "MS" },
      { "country": "Morocco", "code": "MA" },
      { "country": "Mozambique, Republic of (Mocambique)", "code": "MZ" },
      { "country": "Myanmar (Formerly Burma)", "code": "MM" },
      { "country": "Namibia", "code": "NA" },
      { "country": "Nauru, Republic of", "code": "NR" },
      { "country": "Nepal", "code": "NP" },
      { "country": "Netherlands", "code": "NL" },
      { "country": "Netherlands Antilles (Former Curacao and Dependencies)", "code": "AN" },
      { "country": "New Caledonia", "code": "NC" },
      { "country": "New Zealand", "code": "NZ" },
      { "country": "Nicaragua", "code": "NI" },
      { "country": "Niger", "code": "NE" },
      { "country": "Nigeria", "code": "NG" },
      { "country": "Niue", "code": "NU" },
      { "country": "Norfolk Island", "code": "NF" },
      { "country": "Northern Mariana Islands", "code": "MP" },
      { "country": "Norway", "code": "NO" },
      { "country": "Oman", "code": "OM" },
      { "country": "Pakistan", "code": "PK" },
      { "country": "Palau", "code": "PW" },
      { "country": "Panama", "code": "PA" },
      { "country": "Papua New Guinea", "code": "PG" },
      { "country": "Paraguay", "code": "PY" },
      { "country": "Peru", "code": "PE" },
      { "country": "Philippines", "code": "PH" },
      { "country": "Pitcairn Island", "code": "PN" },
      { "country": "Poland", "code": "PL" },
      { "country": "Portugal", "code": "PT" },
      { "country": "Puerto Rico", "code": "PR" },
      { "country": "Qatar, State of", "code": "QA" },
      { "country": "Reunion (French) (Former Bourbon Island)", "code": "RE" },
      { "country": "Romania", "code": "RO" },
      { "country": "Russia - USSR (Former Russian Empire, Union of Soviet Socialist Republics, Russian Soviet Federative Socialist Republic) Now RU - Russian Federation", "code": "RU" },
      { "country": "Rwanda (Rwandese Republic) (Former Ruanda)", "code": "RW" },
      { "country": "Saint Helena", "code": "SH" },
      { "country": "Saint Kitts and Nevis (Former Federation of Saint Christopher and Nevis)", "code": "KN" },
      { "country": "Saint Lucia", "code": "LC" },
      { "country": "Saint Pierre and Miquelon", "code": "PM" },
      { "country": "Saint Vincent and the Grenadines", "code": "VC" },
      { "country": "Samoa (Former Western Samoa)", "code": "WS" },
      { "country": "San Marino", "code": "SM" },
      { "country": "Sao Tome and Principe", "code": "ST" },
      { "country": "Saudi Arabia", "code": "SA" },
      { "country": "Serbia, Republic of", "code": "RS" },
      { "country": "Senegal", "code": "SN" },
      { "country": "Seychelles", "code": "SC" },
      { "country": "Sierra Leone", "code": "SL" },
      { "country": "Singapore", "code": "SG" },
      { "country": "Slovakia", "code": "SK" },
      { "country": "Slovenia", "code": "SI" },
      { "country": "Solomon Islands (Former British Solomon Islands)", "code": "SB" },
      { "country": "Somalia (Former Somali Republic, Somali Democratic Republic)", "code": "SO" },
      { "country": "South Africa (Former Union of South Africa)", "code": "ZA" },
      { "country": "South Georgia and the South Sandwich Islands", "code": "GS" },
      { "country": "Spain", "code": "ES" },
      { "country": "Sri Lanka (Former Serendib, Ceylon)", "code": "LK" },
      { "country": "Sudan (Former Anglo-Egyptian Sudan)", "code": "SD" },
      { "country": "Suriname (Former Netherlands Guiana, Dutch Guiana)", "code": "SR" },
      { "country": "Svalbard (Spitzbergen) and Jan Mayen Islands", "code": "SJ" },
      { "country": "Swaziland, Kingdom of", "code": "SZ" },
      { "country": "Sweden", "code": "SE" },
      { "country": "Switzerland", "code": "CH" },
      { "country": "Syria (Syrian Arab Republic) (Former United Arab Republic - with Egypt)", "code": "SY" },
      { "country": "Taiwan (Former Formosa)", "code": "TW" },
      { "country": "Tajikistan (Former Tajik Soviet Socialist Republic)", "code": "TJ" },
      { "country": "Tanzania, United Republic of (Former United Republic of Tanganyika and Zanzibar)", "code": "TZ" },
      { "country": "Thailand (Former Siam)", "code": "TH" },
      { "country": "Togo (Former French Togoland)", "code": "TG" },
      { "country": "Tokelau", "code": "TK" },
      { "country": "Tonga, Kingdom of (Former Friendly Islands)", "code": "TO" },
      { "country": "Trinidad and Tobago", "code": "TT" },
      { "country": "Tromelin Island", "code": "TE" },
      { "country": "Tunisia", "code": "TN" },
      { "country": "Turkey", "code": "TR" },
      { "country": "Turkmenistan (Former Turkmen Soviet Socialist Republic)", "code": "TM" },
      { "country": "Turks and Caicos Islands", "code": "TC" },
      { "country": "Tuvalu (Former Ellice Islands)", "code": "TV" },
      { "country": "Uganda, Republic of", "code": "UG" },
      { "country": "Ukraine (Former Ukrainian National Republic, Ukrainian State, Ukrainian Soviet Socialist Republic)", "code": "UA" },
      { "country": "United Arab Emirates (UAE) (Former Trucial Oman, Trucial States)", "code": "AE" },
      { "country": "United Kingdom (Great Britain / UK)", "code": "GB" },
      { "country": "United States", "code": "US" },
      { "country": "United States Minor Outlying Islands", "code": "UM" },
      { "country": "Uruguay, Oriental Republic of (Former Banda Oriental, Cisplatine Province)", "code": "UY" },
      { "country": "Uzbekistan (Former UZbek Soviet Socialist Republic)", "code": "UZ" },
      { "country": "Vanuatu (Former New Hebrides)", "code": "VU" },
      { "country": "Vatican City State (Holy See)", "code": "VA" },
      { "country": "Venezuela", "code": "VE" },
      { "country": "Vietnam (Former Annam, Tonkin, Cochin-China)", "code": "VN" },
      { "country": "Virgin Islands (British)", "code": "VG" },
      { "country": "Virgin Islands (US)", "code": "VI" },
      { "country": "Wallis and Futuna Islands", "code": "WF" },
      { "country": "Western Sahara", "code": "EH" },
      { "country": "Yemen (Former Yemen Arab Republic (YAR), Yemen (Sanaa), North Yemen; Democratic Yemen, People's Democratic Republic of Yemen (PDRY), Yemen (Aden), South Yemen)", "code": "YE" },
      { "country": "Zambia (Former Northern Rhodesia)", "code": "ZM" },
      { "country": "Zimbabwe (Former Southern Rhodesia)", "code": "ZW" },
    ]

    const COUNTRIES = [
      { "country": "Afghanistan", "value": "AF" },
      { "country": "Albania", "value": "AL" },
      { "country": "Algeria", "value": "DZ" }
    ]
    $(document).ready(() => {
      const multiInputs = ["#links", "#keywords"]
      multiInputs.forEach((item) => {
        new Tagify(document.querySelector(item))
      })

      const categoriesTagify = new Tagify(document.querySelector('#categoryInput'), {
        whitelist: CATEGORIES,
        dropdown: {
          maxItems: 20,
          classname: "tags-look",
          enabled: 0,
          closeOnSelect: false
        }
      })
      const countriesTagify = new Tagify(document.querySelector('#countryInput'), {
        // originalInputValueFormat: valuesArr => `[${valuesArr.map(item => item.code).join(',')}]`,
        whitelist: [
          { value: 'Afghanistan', code: 'AF' },
          { value: 'Åland Islands', code: 'AX' },
          { value: 'Albania', code: 'AL' },
          { value: 'Algeria', code: 'DZ' },
          { value: 'American Samoa', code: 'AS' },
          { value: 'Andorra', code: 'AD' },
          { value: 'Angola', code: 'AO' },
          { value: 'Anguilla', code: 'AI' },
          { value: 'Antarctica', code: 'AQ' },
          { value: 'Antigua and Barbuda', code: 'AG' },
          { value: 'Argentina', code: 'AR' },
          { value: 'Armenia', code: 'AM' },
          { value: 'Aruba', code: 'AW' },
          { value: 'Australia', code: 'AU', searchBy: 'beach, sub-tropical' },
          { value: 'Austria', code: 'AT' },
          { value: 'Azerbaijan', code: 'AZ' },
          { value: 'Bahamas', code: 'BS' },
          { value: 'Bahrain', code: 'BH' },
          { value: 'Bangladesh', code: 'BD' },
          { value: 'Barbados', code: 'BB' },
          { value: 'Belarus', code: 'BY' },
          { value: 'Belgium', code: 'BE' },
          { value: 'Belize', code: 'BZ' },
          { value: 'Benin', code: 'BJ' },
          { value: 'Bermuda', code: 'BM' },
          { value: 'Bhutan', code: 'BT' },
          { value: 'Bolivia', code: 'BO' },
          { value: 'Bosnia and Herzegovina', code: 'BA' },
          { value: 'Botswana', code: 'BW' },
          { value: 'Bouvet Island', code: 'BV' },
          { value: 'Brazil', code: 'BR' },
          { value: 'British Indian Ocean Territory', code: 'IO' },
          { value: 'Brunei Darussalam', code: 'BN' },
          { value: 'Bulgaria', code: 'BG' },
          { value: 'Burkina Faso', code: 'BF' },
          { value: 'Burundi', code: 'BI' },
          { value: 'Cambodia', code: 'KH' },
          { value: 'Cameroon', code: 'CM' },
          { value: 'Canada', code: 'CA' },
          { value: 'Cape Verde', code: 'CV' },
          { value: 'Cayman Islands', code: 'KY' },
          { value: 'Central African Republic', code: 'CF' },
          { value: 'Chad', code: 'TD' },
          { value: 'Chile', code: 'CL' },
          { value: 'China', code: 'CN' },
          { value: 'Christmas Island', code: 'CX' },
          { value: 'Cocos (Keeling) Islands', code: 'CC' },
          { value: 'Colombia', code: 'CO' },
          { value: 'Comoros', code: 'KM' },
          { value: 'Congo', code: 'CG' },
          { value: 'Congo, The Democratic Republic of the', code: 'CD' },
          { value: 'Cook Islands', code: 'CK' },
          { value: 'Costa Rica', code: 'CR' },
          { value: 'Cote D\'Ivoire', code: 'CI' },
          { value: 'Croatia', code: 'HR' },
          { value: 'Cuba', code: 'CU' },
          { value: 'Cyprus', code: 'CY' },
          { value: 'Czech Republic', code: 'CZ' },
          { value: 'Denmark', code: 'DK' },
          { value: 'Djibouti', code: 'DJ' },
          { value: 'Dominica', code: 'DM' },
          { value: 'Dominican Republic', code: 'DO' },
          { value: 'Ecuador', code: 'EC' },
          { value: 'Egypt', code: 'EG' },
          { value: 'El Salvador', code: 'SV' },
          { value: 'Equatorial Guinea', code: 'GQ' },
          { value: 'Eritrea', code: 'ER' },
          { value: 'Estonia', code: 'EE' },
          { value: 'Ethiopia', code: 'ET' },
          { value: 'Falkland Islands (Malvinas)', code: 'FK' },
          { value: 'Faroe Islands', code: 'FO' },
          { value: 'Fiji', code: 'FJ' },
          { value: 'Finland', code: 'FI' },
          { value: 'France', code: 'FR' },
          { value: 'French Guiana', code: 'GF' },
          { value: 'French Polynesia', code: 'PF' },
          { value: 'French Southern Territories', code: 'TF' },
          { value: 'Gabon', code: 'GA' },
          { value: 'Gambia', code: 'GM' },
          { value: 'Georgia', code: 'GE' },
          { value: 'Germany', code: 'DE' },
          { value: 'Ghana', code: 'GH' },
          { value: 'Gibraltar', code: 'GI' },
          { value: 'Greece', code: 'GR' },
          { value: 'Greenland', code: 'GL' },
          { value: 'Grenada', code: 'GD' },
          { value: 'Guadeloupe', code: 'GP' },
          { value: 'Guam', code: 'GU' },
          { value: 'Guatemala', code: 'GT' },
          { value: 'Guernsey', code: 'GG' },
          { value: 'Guinea', code: 'GN' },
          { value: 'Guinea-Bissau', code: 'GW' },
          { value: 'Guyana', code: 'GY' },
          { value: 'Haiti', code: 'HT' },
          { value: 'Heard Island and Mcdonald Islands', code: 'HM' },
          { value: 'Holy See (Vatican City State)', code: 'VA' },
          { value: 'Honduras', code: 'HN' },
          { value: 'Hong Kong', code: 'HK' },
          { value: 'Hungary', code: 'HU' },
          { value: 'Iceland', code: 'IS' },
          { value: 'India', code: 'IN' },
          { value: 'Indonesia', code: 'ID' },
          { value: 'Iran, Islamic Republic Of', code: 'IR' },
          { value: 'Iraq', code: 'IQ' },
          { value: 'Ireland', code: 'IE' },
          { value: 'Isle of Man', code: 'IM' },
          { value: 'Israel', code: 'IL', searchBy: 'holy land, desert' },
          { value: 'Italy', code: 'IT' },
          { value: 'Jamaica', code: 'JM' },
          { value: 'Japan', code: 'JP' },
          { value: 'Jersey', code: 'JE' },
          { value: 'Jordan', code: 'JO' },
          { value: 'Kazakhstan', code: 'KZ' },
          { value: 'Kenya', code: 'KE' },
          { value: 'Kiribati', code: 'KI' },
          { value: 'Korea, Democratic People\'S Republic of', code: 'KP' },
          { value: 'Korea, Republic of', code: 'KR' },
          { value: 'Kuwait', code: 'KW' },
          { value: 'Kyrgyzstan', code: 'KG' },
          { value: 'Lao People\'S Democratic Republic', code: 'LA' },
          { value: 'Latvia', code: 'LV' },
          { value: 'Lebanon', code: 'LB' },
          { value: 'Lesotho', code: 'LS' },
          { value: 'Liberia', code: 'LR' },
          { value: 'Libyan Arab Jamahiriya', code: 'LY' },
          { value: 'Liechtenstein', code: 'LI' },
          { value: 'Lithuania', code: 'LT' },
          { value: 'Luxembourg', code: 'LU' },
          { value: 'Macao', code: 'MO' },
          { value: 'Macedonia, The Former Yugoslav Republic of', code: 'MK' },
          { value: 'Madagascar', code: 'MG' },
          { value: 'Malawi', code: 'MW' },
          { value: 'Malaysia', code: 'MY' },
          { value: 'Maldives', code: 'MV' },
          { value: 'Mali', code: 'ML' },
          { value: 'Malta', code: 'MT' },
          { value: 'Marshall Islands', code: 'MH' },
          { value: 'Martinique', code: 'MQ' },
          { value: 'Mauritania', code: 'MR' },
          { value: 'Mauritius', code: 'MU' },
          { value: 'Mayotte', code: 'YT' },
          { value: 'Mexico', code: 'MX' },
          { value: 'Micronesia, Federated States of', code: 'FM' },
          { value: 'Moldova, Republic of', code: 'MD' },
          { value: 'Monaco', code: 'MC' },
          { value: 'Mongolia', code: 'MN' },
          { value: 'Montserrat', code: 'MS' },
          { value: 'Morocco', code: 'MA' },
          { value: 'Mozambique', code: 'MZ' },
          { value: 'Myanmar', code: 'MM' },
          { value: 'Namibia', code: 'NA' },
          { value: 'Nauru', code: 'NR' },
          { value: 'Nepal', code: 'NP' },
          { value: 'Netherlands', code: 'NL' },
          { value: 'Netherlands Antilles', code: 'AN' },
          { value: 'New Caledonia', code: 'NC' },
          { value: 'New Zealand', code: 'NZ' },
          { value: 'Nicaragua', code: 'NI' },
          { value: 'Niger', code: 'NE' },
          { value: 'Nigeria', code: 'NG' },
          { value: 'Niue', code: 'NU' },
          { value: 'Norfolk Island', code: 'NF' },
          { value: 'Northern Mariana Islands', code: 'MP' },
          { value: 'Norway', code: 'NO' },
          { value: 'Oman', code: 'OM' },
          { value: 'Pakistan', code: 'PK' },
          { value: 'Palau', code: 'PW' },
          { value: 'Palestinian Territory, Occupied', code: 'PS' },
          { value: 'Panama', code: 'PA' },
          { value: 'Papua New Guinea', code: 'PG' },
          { value: 'Paraguay', code: 'PY' },
          { value: 'Peru', code: 'PE' },
          { value: 'Philippines', code: 'PH' },
          { value: 'Pitcairn', code: 'PN' },
          { value: 'Poland', code: 'PL' },
          { value: 'Portugal', code: 'PT' },
          { value: 'Puerto Rico', code: 'PR' },
          { value: 'Qatar', code: 'QA' },
          { value: 'Reunion', code: 'RE' },
          { value: 'Romania', code: 'RO' },
          { value: 'Russian Federation', code: 'RU' },
          { value: 'RWANDA', code: 'RW' },
          { value: 'Saint Helena', code: 'SH' },
          { value: 'Saint Kitts and Nevis', code: 'KN' },
          { value: 'Saint Lucia', code: 'LC' },
          { value: 'Saint Pierre and Miquelon', code: 'PM' },
          { value: 'Saint Vincent and the Grenadines', code: 'VC' },
          { value: 'Samoa', code: 'WS' },
          { value: 'San Marino', code: 'SM' },
          { value: 'Sao Tome and Principe', code: 'ST' },
          { value: 'Saudi Arabia', code: 'SA' },
          { value: 'Senegal', code: 'SN' },
          { value: 'Serbia and Montenegro', code: 'CS' },
          { value: 'Seychelles', code: 'SC' },
          { value: 'Sierra Leone', code: 'SL' },
          { value: 'Singapore', code: 'SG' },
          { value: 'Slovakia', code: 'SK' },
          { value: 'Slovenia', code: 'SI' },
          { value: 'Solomon Islands', code: 'SB' },
          { value: 'Somalia', code: 'SO' },
          { value: 'South Africa', code: 'ZA' },
          { value: 'South Georgia and the South Sandwich Islands', code: 'GS' },
          { value: 'Spain', code: 'ES' },
          { value: 'Sri Lanka', code: 'LK' },
          { value: 'Sudan', code: 'SD' },
          { value: 'Suriname', code: 'SR' },
          { value: 'Svalbard and Jan Mayen', code: 'SJ' },
          { value: 'Swaziland', code: 'SZ' },
          { value: 'Sweden', code: 'SE' },
          { value: 'Switzerland', code: 'CH' },
          { value: 'Syrian Arab Republic', code: 'SY' },
          { value: 'Taiwan', code: 'TW' },
          { value: 'Tajikistan', code: 'TJ' },
          { value: 'Tanzania, United Republic of', code: 'TZ' },
          { value: 'Thailand', code: 'TH' },
          { value: 'Timor-Leste', code: 'TL' },
          { value: 'Togo', code: 'TG' },
          { value: 'Tokelau', code: 'TK' },
          { value: 'Tonga', code: 'TO' },
          { value: 'Trinidad and Tobago', code: 'TT' },
          { value: 'Tunisia', code: 'TN' },
          { value: 'Turkey', code: 'TR' },
          { value: 'Turkmenistan', code: 'TM' },
          { value: 'Turks and Caicos Islands', code: 'TC' },
          { value: 'Tuvalu', code: 'TV' },
          { value: 'Uganda', code: 'UG' },
          { value: 'Ukraine', code: 'UA' },
          { value: 'United Arab Emirates', code: 'AE' },
          { value: 'United Kingdom', code: 'GB' },
          { value: 'United States', code: 'US' },
          { value: 'United States Minor Outlying Islands', code: 'UM' },
          { value: 'Uruguay', code: 'UY' },
          { value: 'Uzbekistan', code: 'UZ' },
          { value: 'Vanuatu', code: 'VU' },
          { value: 'Venezuela', code: 'VE' },
          { value: 'Viet Nam', code: 'VN' },
          { value: 'Virgin Islands, British', code: 'VG' },
          { value: 'Virgin Islands, U.S.', code: 'VI' },
          { value: 'Wallis and Futuna', code: 'WF' },
          { value: 'Western Sahara', code: 'EH' },
          { value: 'Yemen', code: 'YE' },
          { value: 'Zambia', code: 'ZM' },
          { value: 'Zimbabwe', code: 'ZW' }
        ],
        dropdown: {
          maxItems: 20,
          classname: "tags-look",
          enabled: 1
        }
      })

    })
  </script>
  {% endblock javascripts %}

</header>