{% extends 'layouts/base-presentation.html' %} {% block title %} Presentation {%endblock title %}
{% block stylesheets %}
{% endblock stylesheets %} {% block body_class %} index-page {% endblock body_class %}

{% block content %}
<header>
  <div class="container mt-5 pt-5">
    <div class="page-header section-height-50 my-sm-3 mb-3 border-radius-xl"
      style="background-image: url('https://images.unsplash.com/photo-1606166325683-e6deb697d301?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1363&q=80');">
      <span class="mask bg-gradient-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ms-lg-5">
            <h4 class="text-white mb-0">Affordable pricing for</h4>
            <h1 class="text-white">Every business size</h1>
            <p class="lead text-white opacity-8">Neurodata believes every business deserves access to cutting-edge
              technology. Due to this, we offer flexible, scalable pricing for businesses of all sizes. Our plans will
              fit your unique needs and budget, whether you are a small startup or large enterprise. We offer a range of
              pricing options, from affordable basic plans to more advanced options with all the bells and whistles.
              With Neurodata, you can succeed regardless of your business stage.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="row text-center my-sm-5 mt-5">
        <div class="col-lg-6 mx-auto">
          <h2 class="text-primary text-gradient mb-0">Everything you need for best in class service</h2>
          <p class="lead">Select Your Ideal Plan and Start Automate your sanction checks and PEP screenings.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="m-5 mt-0 p-5">
  <div class="row">
    <div class="col-xxl-4 col-12 col-md-6 py-2 p-lg-5">
      <div class="card shadow-lg">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
        </div>
        <div class="card-body text-center">
          <a href="javascript:;">
            <div>
              <p class="display-6">0.100 TND<small class="fs-6">/ API call</small> </p>
            </div>
            <h5 class="mt-3">
              Silver plan
            </h5>
            <small class="text-muted">No monthly fee</small>
          </a>
          <p>
          <ul class="list-group list-group-flush px-lg-5">
            <li class="list-group-item text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              100 API calls per month for free
            </li>
            <li class="list-group-item text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Support available
            </li>
            <li class="list-group-item text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              All API updates included
            </li>
            <li class="list-group-item text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Simple pay-per-use model
            </li>
            <li class="list-group-item text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              No set-up or hidden fees
            </li>
          </ul>
          </p>
        </div>
        <div class="card-footer pt-0 text-center">
          <button data-plan-id="Silver plan" class="btn plan-btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-12 col-md-6 py-2 p-lg-5">
      <div class="card shadow-lg">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
        </div>
        <div class="card-body text-center">
          <a href="javascript:;">
            <div>
              <p class="display-6">0.050 TND<small class="fs-6">/ API call</small> </p>
            </div>
            <h5 class="mt-3">
              GOLD plan
            </h5>
            <small class="text-muted">1000 TND monthly fee</small>
          </a>
          <p>
          <ul class="list-group list-group-flush px-lg-5">
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Including 3.000 API calls/month
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              SLAs available
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              All API updates included
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Simple pay-per-use model
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              No set-up or hidden fees
            </li>
          </ul>
          </p>
        </div>
        <div class="card-footer pt-0 text-center">
          <button data-plan-id="Silver plan" class="btn plan-btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-12 col-md-6 py-2 p-lg-5">
      <div class="card shadow-lg">
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
        </div>
        <div class="card-body text-center">
          <a href="javascript:;">
            <div>
              <p class="display-6">Tailored pricing</p>
            </div>
            <h5 class="mt-3">
              VIP plan
            </h5>
            <small class="text-muted">Bespoke monthly fee</small>
          </a>
          <p>
          <ul class="list-group list-group-flush px-lg-5">
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Discounts available
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              Cost control feature
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              SLAs available
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              All API updates included
            </li>
            <li class="list-group-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
                viewBox="0 0 16 16">
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
              </svg>
              No set-up or hidden fees
            </li>
          </ul>
          </p>
        </div>
        <div class="card-footer pt-0 text-center">
          <button data-plan-id="VIP plan" class="btn plan-btn btn-primary">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog w-100">
    <div class="modal-content">
      <form id="main-form" action="" class="m-0 p-0">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="modalLabel">Free Trial Token Policy</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-start">
          <i class="bi bi-chevron-right fw-bold"></i> By requesting a free trial API key, you agree to our terms and conditions.<br>
          <i class="bi bi-chevron-right fw-bold"></i> This API key is restricted to only 200 requests and valid for a limited time period, it will expire automatically .<br>
          <i class="bi bi-chevron-right fw-bold"></i> This API key is intended for evaluation purposes only and should not be used in a production environment.<br>
        </p>
        <p class="fw-bold">
          By clicking the 'confirm' button, you acknowledge and accept these terms.
        </p>
        <div class="row p-2">
            <label for="email-input" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
      </div>
      <div class="modal-footer d-block">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Annulate</button>
          <button type="submit" class="btn btn-confirm bg-gradient-primary">Confirm</button>
        </div>
        <div id="loader" class="text-center m-0">
          <img width="50px" src="/static/assets/img/loading-spinner.gif" alt="loader">
        </div>
        <div class="alert text-center" id="result-container">

        </div>
        <div id="token-container" class="row">
          <div class="w-100"><strong>API-Key : </strong><p class="overflow-auto" id="token"></p></div>
        </div>
        <div class="text-end">
          <button id="btn" class="btn" data-clipboard-target="#token">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/plugins/countup.min.js"></script>
<script src="/static/assets/js/plugins/choices.min.js"></script>
<script src="/static/assets/js/plugins/rellax.min.js"></script>
<script src="/static/assets/js/plugins/tilt.min.js"></script>
<script src="/static/assets/js/plugins/choices.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script>
  $(document).ready(function () {
    const token = new ClipboardJS('#btn');
    modal = new bootstrap.Modal(document.getElementById('modal'))
    $('.plan-btn').on('click', (e) => {
      need = e.target.getAttribute('data-plan-id')
      $("#loader").hide()
      $("#token-container").hide()
      $('#result-container').empty()
      modal.show()
      $('#main-form').on('submit', (e) => {
        e.preventDefault()
        $('#result-container').empty()
        email = $("input[name=email]").val()
        $("#loader").show()
        $.post('/register', {
          email,
          need
        }).done((data) => {
          $('#result-container').text(data['msg'])
          if (data['token']){
            $('#token-container').show()
            $('#token').text(data['token'])
          }
        }).fail((data) => {
          $('#result-container').text("failed please try again")
        }).always((data) => {
          $("#loader").hide()
        })
      })

    })
  })
</script>
{% endblock javascripts %}